// FITNESS CLUB
// STYLES FOR CHOICE SECTION

.choice {

}
.choice-header {
	display: flex;
	flex-direction:row;
	@include media($tablet){
		display: block;
	}
	p {
		font-size: 14px;
		padding-left: 1rem;
		border-left: 3px solid $cyan;
		margin: 0;
		@include media($tablet){
			margin-top: 1rem;
		}
	}
}
.h2-left {
	width: 45%;
	padding-right: 1rem;
	@include media($tablet){
		width: 100%;
		@include media($mobile){
			width: 100%;
		}
	}
}
.choice-type-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 3rem;
	@include media($tablet){
		text-align: center;
	}
}
.typebox {
	width: 25%;
	position: relative;
	font-weight: 700;
	text-align: center;
	@include media($tablet){
		width: 45%;
		margin-bottom: 3rem;
	}
	@include media($max550){
		width: 100%;
	}
	.purpose {
		width: 125px;
		height: 125px;
		background: $lightgrey;
		color: #000;
		text-transform: uppercase;
		border-radius: 50%;
		position:relative;
		left: 50%;
		margin-left: -62px;
	}
	.typebox-plan {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.5;
		font-weight: 400;
		letter-spacing: 2px;
		margin: 0;
		position: absolute;
		left: 50%;
		top: 45%;
		margin-top: -24px;
		margin-left: -36px;
	}
	.icon {
		position:relative;
		left: 15%;
		top: 36px;
		z-index: 20;
	}
	.price {
		width: 90px;
		height: 90px;
		background: $cyan;
		border-radius: 50%;
		position:relative;
		left: 23%;
		top: -12%;
	}
	.typebox-price {
		font-family: 'Montserrat', sans-serif;
		font-size: 22px;
		color: white;
		text-transform: uppercase;
		margin: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -21px;
		margin-top: -22px;
	}
	.price-2 {
		background: magenta;
	}
	.price-4 {
		background: orange;
	}
}