// FITNESS CLUB
// STYLES FOR FOOTER

footer {
	background: $darkblue;
	font-size:11px;
	padding-bottom:1.5rem;
	h5 {
		margin-bottom: 20px;
	}
	p span {
		color:white;
		font-weight:700;
	}
}
.touch {
	padding:1.5rem 0;
	border-bottom: 1px solid $grey;
	@include media($tabletplus){
		padding:1.5rem 0 0 0;
		border-bottom:none;
	}
	p {
		text-transform:uppercase;
		color:white;
		display:inline-block;
		font-family: 'Open Sans', sans-serif;
		font-size:16px;
		font-weight:300;
		margin:0;
		letter-spacing:-1px;
		a {
			color:white;
			padding:5px 10px;
			&:hover {
				background: $cyan;
			}
		}
	}
	span {
		font-weight:700;
		font-family: 'Montserrat', sans-serif;
		letter-spacing: -1px;
	}
}
.details-container {
	clear:both;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	padding-top:1.5rem;
}
.details {
	clear:both;
	width: 25%;
	@include media($tabletplus){
		width: 47%;
		margin-right:2%;
		border-top:1px solid $grey;
		padding: 1.5rem 0;
		@include media($max550){
			width: 100%;
		}
	}
	p {
		color: $grey;
	}
	ul {
		margin:0;
		padding:0;
		li {
			display:inline-block;
			color:$cyan;
			padding:0.3rem 0;
			a{
				display:inline-block;
				text-decoration:none;
				color:$cyan;
			}
		}
	}
}
.company {
	.copyright {
		display:block;
	}
	p {
		text-transform:uppercase;
		display:inline;
	}
	a {
		color:$cyan;
	}
}
// QUICKLINKS / LINKS
.details ul.links {
	margin:0;
	padding:0;
	-webkit-column-count:2;
	columns:2;
		li {
			display:list-item;
			list-style-type:none;
			a {
				color: $grey;
				&:hover {
					color: $cyan;
				}
			}
		}	
}

// POPULAR TAGS
ul.tags {
	// -webkit-column-count:3;
	// columns:3;
	li {
		padding:0;
		margin-bottom:4px;
		a {
			color:white;
			background: #17263C;
			padding:10px;
			width:70px;	
			text-align:center;
			text-transform:uppercase;
			&:hover {
				background: $cyan;
			}
		}
}
}
// CONTACT DETAILS
.contact {
	position:relative;
}
.contact-details {
	padding-left: 7.5rem;
}
// text-indenting
.email-content {
	text-indent:-3.7rem;
}
.phone-content {
	text-indent:-3.7rem;
}
.address-content {
	text-indent:-3.7rem;
}


// ::before Content details
.email, .phone, .address {
	position:relative;
}
.email::before {
	content: "Mail";
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	position:absolute;
}
.phone::before {
	@extend .email::before;
	content: "Phone";
}
.address::before {
	@extend .email::before;
	content: "Address";
}



