// FITNESS CLUB
// STYLES FOR SUCCESS KEYS

.successkeys {
	display:flex;
	flex-direction:row;
	.sk-1 {
		float:left;
		width: 50%;
		@include media($tabletplus){
			float:none;
			width:100%;
		}
	}
	.sk-2 {
		width: 50%;
		float:right;
		@include media($tabletplus){
			display:none;
		}
		img {
			width: 100%;
		}
	}
}
.success-wrapper {
	padding-left:20%;
	@include media($tabletplus){
		padding-left:10%;
		width:80%;
	}
	// img {
	// 	width: 100%;
	// }
}